name: Vercel Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          
      - name: Install Dependencies
        run: |
          npm install -g npm@latest
          npm ci
        
      - name: Build
        run: npm run build
        env:
          NEXT_PUBLIC_FIREBASE_API_KEY: AIzaSyANSthYAnu5ZN69AmyEAnaTB2K5f7mBlzM
          NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: ridercritic.firebaseapp.com
          NEXT_PUBLIC_FIREBASE_PROJECT_ID: ridercritic
          NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: ridercritic.firebasestorage.app
          NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: 636450919079
          NEXT_PUBLIC_FIREBASE_APP_ID: 1:636450919079:web:143b3b60396899bd350182
          NEXT_PUBLIC_MEASUREMENT_ID: G-Y697BZTFPG

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          working-directory: ./
          vercel-args: >-
            --prod
            -b NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyANSthYAnu5ZN69AmyEAnaTB2K5f7mBlzM
            -b NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ridercritic.firebaseapp.com
            -b NEXT_PUBLIC_FIREBASE_PROJECT_ID=ridercritic
            -b NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ridercritic.firebasestorage.app
            -b NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=636450919079
            -b NEXT_PUBLIC_FIREBASE_APP_ID=1:636450919079:web:143b3b60396899bd350182
            -b NEXT_PUBLIC_MEASUREMENT_ID=G-Y697BZTFPG 